@import "mixins";
@import "reset";
@import "vars";

html {
  font-family: "Roboto", Sans-serif;
}

body {
  background-color: #F5F5F3;
  width: 85%;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

h1 {
  font-size: 24px;
  font-weight: 700;

  color: #1F1E38;
}

h2 {
  font-size: 24px;
  font-weight: 700;

  color: #8b8d8e;

  margin-bottom: 30px;
}

.bold {
  font-weight: 700;
}

/*=====Header=====*/

header {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
}

nav {
  display: none;
  align-items: center;

  @include min($tablet) {
    display: flex;
  }
}

.chris {
  font-size: 30px;
  font-weight: 700;
  color: #1F1E38;

  border-bottom: 3px solid #EF5322;
}

.cavs {
  font-size: 30px;
  font-weight: 700;
  color: #EF5322;
}

nav button {
  font-size: 16px;
  font-weight: 700;

  color: #1F1E38;
  background-color: #F5F5F3;

  border: none;
  border-radius: 45%;
  outline: none;
  cursor: pointer;

  margin: 0px 16px;
  padding: 12px;

  transition: 0.4s;
}

    nav button:hover {
      opacity: .75;
      color: #EF5322;
    }

/*=====Content Formatting-> Background=====*/
.background {
  margin-bottom: 60px;

  @include min($tablet) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.background-linkedin {
  width: 300px;
  height: 300px;

  margin-left: auto;
  margin-right: auto;

  background-image: url("./images/linkedin.jpg");

  border-radius: 50%;
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat;

  @include min($tablet) {
    margin-right: 8%;
    margin-left: 0;
  }
}

.background-content {
  margin-top: 40px;
  margin-bottom: 40px;

  @include min($tablet) {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 40%;

    margin-top: none;
    margin-bottom: none;
  }
}

.background-content-title {
  font-size: 24px;
  font-weight: 700;

  color: #8b8d8e;

  margin-bottom: 30px;
}

.background-content-body {
  font-size: 14px;
  font-weight: 400;
  line-height: 175%;
}

/*=====Content Formatting-> Resume=====*/

.resume {
  padding-top: 60px;
  margin-bottom: 60px;

  border-top: 2.5px solid #EF5322;
}

.resume-title {
  margin-top: 16px;

  font-size: 16px;
  font-weight: bold;

  @include min($tablet) {
    margin-left: 16px;
    margin-top: 24px;
  }
}

.resume-subtitle {
  margin-bottom: 30px;
  margin-top: 6px;

  font-size: 14px;
  font-style: italic;

  @include min($tablet) {
    margin-left: 16px;
    margin-top: 16px;
    margin-bottom: 24px;
  }
}

.resume-bullets {
  margin-bottom: 30px;
  margin-left: 32px;

  font-size: 12px;

  @include min($tablet) {
    margin-left: 64px;
    font-size: 14px;
  }
}

/*=====Content Formatting-> Projects=====*/

.projects {
  padding-top: 60px;
  margin-bottom: 60px;

  border-top: 2.5px solid #EF5322;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 30%;

  cursor: pointer;

  margin-right: 4%;
  margin-left: 4%;
  transition: 0.3s;
}

.projects-content:hover {
  opacity: 0.6;
}

.projects-content-title {
  font-size: 24px;
  font-weight: 700;

  color: #8b8d8e;

  margin-bottom: 30px;
}

.projects-content-image img {
  width: 100%;
  height: auto;
}

.projects-content-body {
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  line-height: 150%;

  margin-top: 30px;

  color: #8b8d8e;
}

/*=====Content Formatting-> Contact=====*/

.contact-links-container {
  display: flex;
  justify-content: center;

  width: 100%;

  margin-bottom: 120px;
}

.contact-content-body {
  width: 70%;

  margin-bottom: 60px;
  margin-top: 60px;

  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  text-align: center;

  color: #8b8d8e;
}

.contact-content {
  display: flex;

  font-size: 18px;

  margin-right:4%;
  margin-left: 4%;

  transition: 0.3s;
  cursor: pointer;
}
.contact-content p {
  margin-left: 6px;
}
.contact-content:hover {
  color: #EF5322;
  opacity: 0.75;
}
