html {
  width: 85%;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  font-family: "Roboto", Sans-serif;
}
body {
  background-color: #F5F5F3;
}
header {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}
.chris {
  font-size: 30px;
  font-weight: 700;
  color: #1F1E38;
  border-bottom: 3px solid #EF5322;
}
.cavs {
  font-size: 30px;
  font-weight: 700;
  color: #EF5322;
}
.tablinks {

}
